.errorField {
    text-align: center;
    margin-top: 20vh;
    font-size: 20px;
    color: red;
}

.errorField .bi-patch-exclamation {
    font-size: 40px;
}

.errorField p {
    padding-top: 20px;
}