<h1>E-Mail Aktion</h1>
<div class="container">
    <div class="row mb-2 color">
        <div class="col text-start">Aktion-Name</div>
        <input class="col text-start" type="text">
    </div>
    <div class="row mb-2 color">
        <div class="col text-start">Betreff</div>
        <input class="col text-start" type="text">
    </div>
    <div class="row mb-2 color">
        <div class="col text-start">Nachricht</div>
        <textarea class="col text-start" rows="5" type="text"></textarea>
    </div>
    <div class="row mb-2 color">
        <div class="col text-start">Empfänger</div>
        <input class="col text-start" type="text">
    </div>
</div>

<button class="btn btn-sm btn-outline-primary py-0" type="button">E-Mail Aktion dem Detektor zuweisen</button>
