<h1>E-Mail Aktion</h1>

<form [formGroup]="form">
    <mat-form-field class="m-2">
        <mat-label>Aktion-Name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="m-2"> 
        <mat-label>Betreff</mat-label>
        <input matInput formControlName="subject" required>
    </mat-form-field>
    <mat-form-field class="m-2">
        <mat-label>Nachricht</mat-label>
        <textarea rows="5" matInput formControlName="message" required></textarea>
    </mat-form-field>
    <mat-form-field class="m-2">
        <mat-label>Empfänger</mat-label>
        <input matInput formControlName="sentTo" required>
    </mat-form-field>
</form>

<button [disabled]="!form.valid" 
    class="btn btn-sm btn-outline-primary py-0" type="button" (click)="submit()">
        E-Mail Aktion dem Detektor zuweisen
</button>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<app-connecting-error *ngIf="connectionError"></app-connecting-error>
