.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    text-align: center;
    color: white;
    font-size: 30px;
    background: #1abc9c;
}

nav {
    padding-left: 80px;
}

li {
    padding-left: 20px;
    padding-right: 20px;
}