<header class="sticky-top">  
    <div class="title">
        <h1>{{title}}</h1>
        <button class="btn btn-secondary">Login</button>
    </div>

    <nav class="nav nav-pills nav-fill">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-secondary text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Telemetriedaten
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="home">Alle</a>
          <a class="dropdown-item" routerLink="home">Log-Nachrichten</a>
          <a class="dropdown-item" routerLink="home">Zähler</a>
          <a class="dropdown-item" routerLink="home">Messungen</a>
          <a class="dropdown-item" routerLink="home">Zeitintervalle</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-secondary text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Detectors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="home">Alle</a>
          <a class="dropdown-item" routerLink="home">Herzschlag-Detektoren</a>
          <a class="dropdown-item" routerLink="home">Min-Max-Detektoren</a>
          <a class="dropdown-item" routerLink="home">Sliding-Window-Detektoren</a>
        </div>
      </li>
    </nav>
</header>
