<h1>Web-Hook Aktion</h1>

<p *ngIf="inputName != ''">Aktion-Name: {{inputName}}</p>
<form [formGroup]="form">
    <mat-form-field *ngIf="inputName == ''" class="m-2">
        <mat-label>Aktion-Name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="m-2"> 
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" required>
    </mat-form-field>
    <mat-form-field class="m-2">
        <mat-label>Zusatzinfo</mat-label>
        <input matInput formControlName="tool" required>
    </mat-form-field>
</form>

<button [disabled]="!form.valid" 
    class="btn btn-sm btn-outline-primary py-0" type="button" (click)="submit()">
        {{inputName == '' ? "Web-Hook Aktion dem Detektor zuweisen" : "Update Web-Hook Aktion"}}
</button>

<app-connecting-error *ngIf="connectionError"></app-connecting-error>
