<h1>Web-Hook Aktion</h1>
<div class="container">
    <div class="row mb-2 color">
        <div class="col text-start">Aktion-Name</div>
        <input class="col text-start" type="text">
    </div>
    <div class="row mb-2 color">
        <div class="col text-start">URL</div>
        <input class="col text-start" type="text">
    </div>
    <div class="row mb-2 color">
        <div class="col text-start">Zusatzinfo</div>
        <input class="col text-start" type="text">
    </div>
</div>

<button class="btn btn-sm btn-outline-primary py-0" type="button">Web-Hook Aktion dem Detektor zuweisen</button>
