.cardsContainer {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.cards {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.newCard {
    margin: 0px 20px 10px 20px;
    text-align: center;
    padding: 0;
}

.newCard:hover {
    background-color: var(--main-color-light);
    cursor: pointer;
}

.newCard a {
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.newCard .bi-plus-circle {
    font-size: 20px;
}

.loading {
    margin-top: 20vh;
    font-size: 20px;
}

.loadingFilter {
    padding-bottom: 40px;
}

.paginationControl /deep/ .ngx-pagination {
    text-align: center;
    padding: 0px;
}

.paginationControl /deep/ .ngx-pagination a {
    text-decoration: none;
}

.paginationControl /deep/ .ngx-pagination .current {
    background: var(--main-color);
}