<div class="sticky-top px-2 pt-3 pb-2 bg-light">
    <app-metric-detector-filter (applyFilter)="filter($event)"></app-metric-detector-filter>
    <div *ngIf="loadingFilter" class="loadingFilter">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <mat-card class="newCard"><a type="button" (click)="openDialog()"><i class="bi bi-plus-circle"></i></a></mat-card>
    <pagination-controls class="paginationControl" previousLabel="" nextLabel="" [responsive]="true" (pageChange)="pageChanged($event)"></pagination-controls>
</div>

<div *ngIf="!connectionError" class="cardsContainer">
    <app-metric-detector-item class="cards" 
        *ngFor="let detector of showDetectors | paginate: {itemsPerPage: 6, currentPage: currentPage}" 
        [metricDetector]="detector" 
        (reload)="ngOnInit()">
    </app-metric-detector-item>
</div>

<div *ngIf="loading" class="loading">
    <app-loading-spinner></app-loading-spinner>
</div>

<app-connecting-error *ngIf="connectionError"></app-connecting-error>
