<li (click)="EntryClick()" class="list-group-item" 
    [ngClass]="{'list-group-item-warning': log.type == 'WARNING', 
                'list-group-item-danger': log.type == 'ERROR',
                'list-group-item-success': log.type == 'TRACE'}">
       
    <p>{{ log.timestamp | date:'d. MMMM y | H:mm:ss'}}</p>
    <p>{{ log.type }}</p><br>
    <p>{{ log.message }}</p>
    <i *ngIf="!details" class="bi bi-caret-down-fill"></i>   
    <i *ngIf="details" class="bi bi-caret-up-fill"></i> 
    <div *ngIf="details"><app-log-message-list-item-detail [logMessage]="log"></app-log-message-list-item-detail></div>
</li>

