<mat-toolbar *ngIf="isSmall" class="mat-elevation-z8">
    <a (click)="sidenav.toggle()" type="button"><i class="bi bi-list"></i></a>
    <a (click)="sidenav.close()" routerLink="home" type="button">{{projectTitle}}</a>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" opened="true" disableClose="true">
        <div *ngIf="!isSmall">
            <a routerLink="home" type="button">{{projectTitle}}</a>
        </div>
        
        <p>Client</p>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="clientInstance">Client-Instanzen</a>
        <p>Telemetriedaten</p>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="logMessages">Log-Nachrichten</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="counter">Zähler</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="measurement">Messungen</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="timeInterval">Zeitintervalle</a>
        <p>Detektoren</p>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="home">Herzschlag-Detektoren</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="home">Min-Max-Detektoren</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="home">Sliding-Window-Detektoren</a>
        <img src="assets/img/fhooeLogo.svg">
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

