<mat-toolbar *ngIf="isSmall" class="mat-elevation-z8">
    <a (click)="sidenav.toggle()" type="button"><i class="bi bi-list"></i></a>
    <p>{{projectTitle}}</p>
    <div>
        <a type="button" (click)="logout()"><i class="bi bi-box-arrow-left"></i> LOGOUT</a>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" opened="true" disableClose="true">
        <div *ngIf="!isSmall">
            <a type="button" (click)="logout()"><i class="bi bi-box-arrow-left"></i> LOGOUT</a>
            <p>{{projectTitle}}</p>
        </div>
        
        <p>Client</p>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="clientInstance">Client-Instanzen</a>
        <p>Telemetriedaten</p>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="logMessages">Log-Nachrichten</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="metric">Metriken</a>
        <p>Detektoren</p>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="heartBeatDetector">Herzschlag-Detektoren</a>
        <a mat-list-item (click)="isSmall ? sidenav.close() : null" routerLinkActive="active" routerLink="metricDetector">Metrik-Detektoren</a>
        <img src="assets/img/fhooeLogo.svg">
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

